{% extends 'allianceauth/base-bs5.html' %}

{% load i18n %}
{% load static %}

{% block page_title %}{{ page_title }} - {% translate "Markets" %}{% endblock page_title %}

{% block header_nav_collapse_left %}
    {%  include 'markets/partials/menu.html' %}
{% endblock %}

{% block header_nav_collapse_right %}
    {% if perms.markets.view_markets %}
        <a href="{% url 'markets:add_owner' %}"
           class="nav-link me-2">
            <i class="fas fa-user"></i>
            {% translate "Add owner" %}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% block details %}{% endblock %}
{% endblock %}

{% block extra_javascript %}
    {% include 'markets/partials/global_js.html' %}
{% endblock %}

{% block extra_css %}
    {% include 'bundles/datatables-css-bs5.html' %}
{% endblock %}
